:root {

}

body {
    display: flex;
    justify-content: center;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 500px;
    background-color: cadetblue;

}
.main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 60px;
    width: 80%;
    background-color: white;

    padding: 5px;
    margin: 30px 10px;
}
.main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 300px;
    width: 90%;
    background-color: white;
    margin-top: 2rem;
}

#test {
    position: absolute;
    right: 31%;
    top: 45%;
    height: 40px;
    width: 40px;
}

.scoreName {
    display: flex;
    height: 40px;
    width: 40%;
    margin: 10px 0;
    background-color: white;
}

.option {
    height: 40px;
    width: 80%;
    background-color: black;
    color:white;
}

.highscore_container {
    display: flex;
    height: 60px;
    width: 80%;
    background-color: black;
    color: white;

    justify-content: space-around;
    align-items: center;
}
.highscore_container div{
    padding: 10px;
    border: solid white;
}

.clock_container {
    display: flex;
    height: 80px;
    width: 160px;
    background-color: lightgray;
    position: absolute;
    top: 10px;
    right: 10px;


    justify-content: center;
    align-items: center;
}
.clock_value {
    width: 50%;
    text-align: center;
    padding: 5px 10px;
    margin: 0 5px;
    border: solid black
}

#result {
    position:absolute;
    top: 425px;
    right: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 140px;
    color: black;
    transition: opacity 1s ease-in-out;
}
.opacityZero {
    opacity: 0;
}